<!DOCTYPE html>
<html>
<head>
	<title>HK, run! - {{ sitename }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav>

</nav>
<header>
	<div class="ad">
		<h1><span class="font200">MADE IN</span></h1>
		<h1><span  class="font800">HONG KONG</span></h1>
		<h2>HK-based tech meetup and startup list.</h2>
	</div>
</header>
<section id="list">
<ul>
{% for company in companies %}
  <li>
    <a href="{{ company.homepage }}" class="bold">{{ company.name }}</a>
    {% if company.hiring %} <span class="hiring"><a href="{{ company.jobs }}">We're hiring!</a></span> {% endif %}
    <span class="profiles">
    	<a href="{{ company.crunchbase }}" class="{% if company.crunchbase == '' %}invisible{% endif %}">CrunchBase</a>
    	<a href="{{ company.linkedin }}" class="{% if company.linkedin === '' %}invisible{% endif %}">LinkedIn</a>
    </span>
  </li>
{% endfor %}
</ul>
</section>
<section id="form">
<form action="." method="POST">
	<ul>
		<li>
			<label for="name">Name</label>
			<input type="text" name="name" />
		</li>
		<li>
			<label for="homepage">Homepage</label>
			<input type="text" name="homepage" />
		</li>
		<li><label for="crunchbase">CrunchBase Profile</label>
			<input type="text" name="crunchbase" />
		</li>
		<li>
			<label for="linkedin">LinkedIn Profile</label>
			<input type="text" name="linkedin" />
		</li>
		<li>
			<label for="hiring">Are you hiring?</label>
			<input type="checkbox" name="hiring" />
		</li>
		<li>
			<label for="jobs">Career Site</label>
			<input type="text" name="jobs" />
		</li>
		<li>
			<input type="submit" value="submit" />
		</li>
	</ul>
</form>
</section>
<footer>
	@lichgo
</footer>
</body>
</html>